<?php

use Framework\Factory\Error\WhoopsErrorFactory;
use Framework\Factory\Error\WhoopsFactory;
use Framework\Middleware\Error\ErrorResponseGenerator;
use Whoops\RunInterface;

return [
    'dependencies' => [
        'factories' => [
            ErrorResponseGenerator::class => WhoopsErrorFactory::class,
            RunInterface::class => WhoopsFactory::class,
        ],
    ],

    'debug' => false,
];